.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 100%;
    padding: var(--spacing);
}

.navbar .logo img {
    height: var(--navbar-height);
    width: auto;
    display: block;
    margin-left: 10px;
}

/* place holder styling for search bar*/
.navbar .search-bar {
    display: flex;
    align-items: center;
}

.navbar .icon-wrapper {
    all: unset;
    justify-self: end;
    background-color: #1f1f1f;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--navbar-height) * (2/3));
    transition: transform var(--shortest) cubic-bezier(0.3, 0, 0 ,1);
    will-change: transform;
}

.navbar .icon-wrapper:hover {
    transform: scale(1.05);
}