.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: var(--spacing);
}

.navbar .logo img {
    height: 100%;
    width: auto;
    display: block;
    margin-left: 12px;
}

/* place holder styling for search bar*/
.navbar p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

.navbar .icon-wrapper {
    all: unset;
    background-color: #1f1f1f;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--navbar-height) * (2/3));
    transition: transform var(--shortest) cubic-bezier(0.3, 0, 0 ,1);
    will-change: transform;
}

.navbar .icon-wrapper:hover {
    transform: scale(1.05);
}