@import "tailwindcss";
@import "./satoshi.css";

@theme {
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --color-spotify-grey: #121212;
  --color-spotify-green: #1ed760;
  --color-light-grey: #b3b3b3;
  --color-dark-grey: #4d4c4c;

  /* -6rem is the default */
  --spacing-mainview: calc(100vh - 6rem);
}

html, body {
  overscroll-behavior: none;
  scrollbar-color: #9b9b9bab var(--color-spotify-grey);
  background-color: black;
  color: white;
}