.panel-layout {
    --navbar-height: 48px;
    --sidebar-width: 420px;

    padding: var(--spacing);
    display: grid;
    grid-template-areas:
        "top-banner top-banner"
        "left-sidebar main-view"
        "player player";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--navbar-height) 1fr auto;
    gap: var(--spacing);
    height: 100vh;
}

.top-banner {
    grid-area: top-banner;
    margin: calc(-1 * var(--spacing));
}

.left-sidebar {
    grid-area: left-sidebar;
    background-color: var(--spotify-grey);
    border-radius: var(--spacing);
}

.main-view {
    grid-area: main-view;
    background-color: var(--spotify-grey);
    border-radius: var(--spacing);
}

.player {
    grid-area: player;
}
