.panel-layout {
    padding: var(--spacing);
    display: grid;
    grid-template-areas:
        "top-banner top-banner"
        "left-sidebar main-view"
        "player player";
    grid-template-columns: 420px 1fr;
    grid-template-rows: 64px 1fr auto;
    gap: var(--spacing);
    height: 100vh;
}

.top-banner {
    grid-area: top-banner;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.main-view {
    grid-area: main-view;
}

.player {
    grid-area: player;
}
